/* Colors */
:root {
  --dark-green: #386641;
  --mid-green: #6a994e;
  --light-green: #a7c957;
  --beige: #f2e8cf;
  --red: #bc4749;
  --default-text-color: #000;
}

/* ---- Base Rules ---- */
body {
  background: var(--beige);
  margin: 0;
  font-family: "Lato", sans-serif;
  color: var(--default-text-color);
  scroll-behavior: smooth;
}

/* Typeography General*/
h1,
h2 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3em;
  color: var(--dark-green);
  /* margin-bottom: 10rem; */
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 7em;
    margin: 10rem 4rem 0;
  }
}

h2 {
  border-bottom: 1px solid #a7c957;
  font-size: 3em;
  color: var(--mid-green);
}

p {
  line-height: 1.6em;
}

/* ---- Layout Rules ---- */
main {
  padding: 10vh 0 10vh;
}

.main__hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/green-tea.svg) center top no-repeat;
  background-size: contain;
}

@media screen and (min-width: 500px) {
  .main__hero {
    background-size: initial;
  }
}

.main__scroll-down {
  position: absolute;
  bottom: 0;
  background: url(../img/arrow-down.svg) center no-repeat;
  opacity: 1;
}

.main__scroll-down.invisible {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.main__scroll-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: url(../img/arrow-up.svg) center no-repeat;
  opacity: 0;
}

.main__scroll-top.show {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.main__scroll-down,
.main__scroll-top {
  width: 50px;
  height: 50px;
  background-size: contain;
}

.main__scroll-down:hover,
.main__scroll-top:hover {
  cursor: pointer;
}

.main__section {
  position: relative;
  min-height: 80vh;
  padding: 0 1em 3em;
}

.main__section.active {
  background-color: var(--light-green);
  box-shadow: 0px 0px 19px 0px rgba(56, 102, 65, 0.49) inset;
  transition: all 0.5s ease-out;
}

.main__section.active h2 {
  color: var(--dark-green);
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
  background-color: var(--dark-green);
}

.navbar__menu li {
  display: inline-block;
  cursor: pointer;
}

.navbar__menu .menu__link {
  display: block;
  padding: 1em;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: var(--beige);
}

.navbar__menu .menu__link:hover,
.navbar__menu .menu__link.active {
  background: var(--mid-green);
  transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* Footer Styles */
.page__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--dark-green);
  padding: 2em;
  color: #fff;
}

.page__footer p {
  color: #fff;
}

.page__footer-icon {
  height: 100px;
  width: 100px;
  background: url(../img/kettle.svg) center no-repeat;
  background-size: contain;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
  padding: 1em;
  text-align: left;
}

@media only screen and (min-width: 35em) {
  .landing__container {
    max-width: 50em;
    padding: 4em;
  }
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}
